<a href="https://colab.research.google.com/github/nsriniva/DS-Unit-2-Applied-Modeling/blob/master/CleanupOnlineNewsPopularity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from collections import OrderedDict
from math import isclose
import zipfile 
from urllib.request import urlopen
import io

import requests
from bs4 import BeautifulSoup

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats
from scipy.stats import chi2_contingency

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression

# Uploaded 
# https://archive.ics.uci.edu/ml/machine-learning-databases/00332/OnlineNewsPopularity.zip 
# to my github repo  from 
# https://archive.ics.uci.edu/ml/datasets/Online+News+Popularity

onp_url = 'https://github.com/nsriniva/DS-Unit-1-Build/blob/master/OnlineNewsPopularity.zip?raw=true'

# Open the zip file
zfile = urlopen(onp_url)

# Create an IO stream
zfile_mem = io.BytesIO(zfile.read())

# Extract data file from archive and load into dataframe
# The zip archive contains the data file 
# OnlineNewsPopularity/OnlineNewsPopularity.csv 
# and the info file 
# OnlineNewsPopularity/OnlineNewsPopularity.names.
# Use the zipfile package to open the archive and read the data file
with zipfile.ZipFile(zfile_mem) as zf:
  with zf.open('OnlineNewsPopularity/OnlineNewsPopularity.csv') as f:
    onp_df = pd.read_csv(f)

In [2]:
onp_df.head()

                                                 url  ...   shares
0  http://mashable.com/2013/01/07/amazon-instant-...  ...      593
1  http://mashable.com/2013/01/07/ap-samsung-spon...  ...      711
2  http://mashable.com/2013/01/07/apple-40-billio...  ...     1500
3  http://mashable.com/2013/01/07/astronaut-notre...  ...     1200
4   http://mashable.com/2013/01/07/att-u-verse-apps/  ...      505

[5 rows x 61 columns]

In [3]:
null_values = onp_df.isna().sum().sum()

print(f"There are {['','no'][int(null_values==0)]} invalid values in the dataset!")

# Clean up the column names by removing the leading whitespace
column_names = (x.strip() for x in onp_df.columns)
onp_df.columns = list(column_names)

# First, identify all the data_channel_is_*/weekday_is_* columns
data_channel_columns = list(filter(lambda x: x.startswith('data_channel_is_'), onp_df.columns))
weekday_columns = list(filter(lambda x: x.startswith('weekday_is_'), onp_df.columns))

display(onp_df.shape, data_channel_columns, weekday_columns)

There are no invalid values in the dataset!

(39644, 61)

['data_channel_is_lifestyle',
 'data_channel_is_entertainment',
 'data_channel_is_bus',
 'data_channel_is_socmed',
 'data_channel_is_tech',
 'data_channel_is_world']

['weekday_is_monday',
 'weekday_is_tuesday',
 'weekday_is_wednesday',
 'weekday_is_thursday',
 'weekday_is_friday',
 'weekday_is_saturday',
 'weekday_is_sunday']

In [4]:
# Combine all data_channel_is_*/weekday_is_* columns into one single categorical 
# column 'data_channel'/'weekday'



# Compute a mapping between the data channel/weekday name and an integer
# value i.e. 'misc':0,'lifestyle':1/'monday':1, ... 
dcm = OrderedDict()
wm = OrderedDict()
prel = len('data_channel_is_')
dcm['misc'] = 0
for idx,name in enumerate(data_channel_columns):
  dcm[name[prel:]] = idx+1
prel = len('weekday_is_')
for idx,name in enumerate(weekday_columns):
  wm[name[prel:]] = idx+1

# mf(u, args) => args if u is True and 0 otherwise.
mf = lambda u,args: [0,args][int(u)]

# This function adds a new column named new_col with the information
# from all the columns prefixed with new_col+'_is_' and then returns a
# dataframe with all them dropped.
def mapper_func(df, new_col, name_dict, ignore=0):
  name_list = list(name_dict.items())

  i = 0
  while name_list[i][1]==ignore:
    i += 1
  
  first = name_list[i]

  df[new_col] = df[new_col+'_is_'+first[0]].apply(mf, args=(name_dict[first[0]],))
  for name,_ in name_list[i+1:]:
    df[new_col] = df[new_col] + df[new_col+'_is_'+name].apply(mf, args=(name_dict[name],))
  return df.drop(columns=[ new_col+'_is_'+name for name,_ in name_list[i:]])

# Combining all data_channel_is_* columns into one single categorical column
# data_channel - drop all the original data_channel_is_* columns
onp_merged_df = mapper_func(onp_df, 'data_channel', dcm)

# Combing all weekday_is_* columns into one single categorical column
# weekday - drop all the original weekday_is_* columns
onp_merged_df = mapper_func(onp_merged_df, 'weekday', wm)


display(onp_merged_df.data_channel.value_counts())
display(dcm, wm)
display(onp_merged_df.weekday.value_counts())

#dcm_key_names = ['misc', 'lifestyle', 'entertainment','bus', 'socmed', 'tech',
#                 'world', 'culture', 'u.s.', 'social-good']]
dcm['culture'] = 7
dcm['u.s.'] = 8
dcm['social-good'] = 9

data_channel_fixed_url = 'https://raw.githubusercontent.com/nsriniva/DS-Unit-1-Build/master/data_channel_cleaned_df.csv'

data_channel_cleaned_df = pd.read_csv(data_channel_fixed_url)

for idx in data_channel_cleaned_df.index:
  row = data_channel_cleaned_df.iloc[idx]
  onp_merged_df.data_channel.iloc[row['idx']] = row['data_channel']

dcml = list(dcm)
wml = list(wm)
display(wm, wml)
onp_merged_df.data_channel = onp_merged_df.data_channel.apply(lambda x: dcml[x])
onp_merged_df.weekday = onp_merged_df.weekday.apply(lambda x: wml[x-1])

display(onp_merged_df.data_channel.value_counts())
display(dcm, list(dcm))

#display(onp_merged_df.head(), onp_merged_df.shape, onp_merged_df.data_channel.value_counts(), onp_merged_df.weekday.value_counts())

6    8427
5    7346
2    7057
3    6258
0    6134
4    2323
1    2099
Name: data_channel, dtype: int64

OrderedDict([('misc', 0),
             ('lifestyle', 1),
             ('entertainment', 2),
             ('bus', 3),
             ('socmed', 4),
             ('tech', 5),
             ('world', 6)])

OrderedDict([('monday', 1),
             ('tuesday', 2),
             ('wednesday', 3),
             ('thursday', 4),
             ('friday', 5),
             ('saturday', 6),
             ('sunday', 7)])

3    7435
2    7390
4    7267
1    6661
5    5701
7    2737
6    2453
Name: weekday, dtype: int64

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

OrderedDict([('monday', 1),
             ('tuesday', 2),
             ('wednesday', 3),
             ('thursday', 4),
             ('friday', 5),
             ('saturday', 6),
             ('sunday', 7)])

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

world            9513
entertainment    8384
tech             8219
bus              6980
socmed           2323
lifestyle        2099
culture          1917
u.s.              138
social-good        46
misc               25
Name: data_channel, dtype: int64

OrderedDict([('misc', 0),
             ('lifestyle', 1),
             ('entertainment', 2),
             ('bus', 3),
             ('socmed', 4),
             ('tech', 5),
             ('world', 6),
             ('culture', 7),
             ('u.s.', 8),
             ('social-good', 9)])

['misc',
 'lifestyle',
 'entertainment',
 'bus',
 'socmed',
 'tech',
 'world',
 'culture',
 'u.s.',
 'social-good']

In [5]:
onp_merged_df.to_csv('OnlineNewsPopularity.csv', index=False)

from google.colab import files
files.download('OnlineNewsPopularity.csv')